@font-face {
  font-family: 'Unica One';
  font-style: normal;
  font-weight: 400;
  src: local('Unica One'), local('UnicaOne-Regular'), url(https://echoplex.us/fonts/UnicaOne.woff) format('woff');
}

* {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}
html, body {
	color:#dedede;
	width: 100%;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: #fefefe;
	color: #3A4145;
}
code {
	font-family: monospace;
	background: #eee;
	padding: 0.25em;
	font-weight: bold;
}

.clear {
	&:before, &:after {
		content: " ";
    display: block;
	}
	&:after {
		clear: both;
	}
}

.flashy {
	width: 100%;
	height: 100%;
	max-height: 500px;
	background:url('../img/no-webgl.png');
	background-size: cover;
	position: relative;
}
.flashy canvas { width: 100% !important; height: 100% !important; }
.flashy-header {
	position: absolute;
	z-index: 3;
	top: 55%;
	right: 0;
	width: 100%;
	font-size: 4em;
	text-align: center;
	color: #daf6f5;
	font-family: 'Unica One','Roboto','Helvetica Neue',Helvetica,arial,freesans,clean,sans-serif;
	text-shadow: 1px 1px 0px #0c1d1c;
}
.flashy-logo {
	width:180px;
	height:180px;
	max-width:180px;
	max-height:180px;
	position: absolute;
	top: 55%;
	margin-top: -180px;
	left: 50%;
	margin-left: -90px;
}

.main-content {
	position: relative;
	top: -36px; // shift it upwards
	padding-bottom: 5em;
}

@mixin transition($value) {
	-webkit-transition: $value;
	-moz-transition: $value;
	-ms-transition: $value;
	-o-transition: $value;
	transition: $value;
}
@mixin transform($value) {
	-webkit-transform: $value;
	-moz-transform: $value;
	-ms-transform: $value;
	-o-transform: $value;
	transform: $value;
}
@mixin box-sizing($value) {
	-moz-box-sizing: $value;
	-webkit-box-sizing: $value;
	-ms-box-sizing: $value;
	-o-box-sizing: $value;
	box-sizing: $value;
}

h1,h2,h3,h4,h5 {
	color: #50585D;
}

.callout {
	@include transition(all 0.25s ease-in-out);
	position: relative;
	padding:2em;
	text-align: justify;

	height:420px;
	width: 100%;

	display: block;

	a {
		text-decoration: none;
	}
	i {
		@include transition(all 0.25s ease-in-out);
		width:100%;
		font-size:1000%;
		text-align: center;
		display:block;
	}
	h2 {
		margin:0.5em 0 0 0;
		display: block;
		text-align: center;
		font-size: 200%;
		font-variant: italic;
	}
	p {
		font-size:0.9em;
		text-align: justify;
	}

	.call-to-action {
		@include transition(all 0.25s ease-in-out);
		opacity: 0;
		position: absolute;
		bottom:1em;
		right:1em;
		font-size: 0.85em;
	}

	&:hover {
		i {
			color:#1584CE;
		}
		i {
			@include transform(rotate(-5deg));
		}
		.call-to-action {
			opacity: 1;
		}
	}
}

section {
	padding:0 1.5em;
	position: relative;
	clear: both;
  @extend .clear;
}

section#draw {
	&::after {
		background: url(/img/art.jpg);
		background-size: cover;
		background-position-y: -200px;
	  opacity: 0.1;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute;
	  z-index: -1;
	}
}
section#call {
	&::after {
		background: url(/img/phone.jpg);
		background-size: cover;
	  opacity: 0.2;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute;
	  z-index: -1;
	}
}
section#code {
	&::after {
		background: url(/img/code.jpg);
		background-size: cover;
		background-position-y: -200px;
	  opacity: 0.1;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute;
	  z-index: -1;
	}
}

.pure-menu > a {
	img {
		vertical-align: text-bottom;
		margin-right:5px;
	}
}

a {
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	text-decoration: underline;
	color:#50585D;
	&:hover {
		color: #57A3E8;
	}
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
img.pull-left {
	margin-right: 2em;
	margin-bottom: 2em;
}
img.pull-right {
	margin-left: 2em;
	margin-bottom: 2em;
}

ul {
	margin:0.5em 0;
	list-style-type:square;
	li {
		a {
			display: block;
			height: 100%;
		}
	}
}

.top-nav {
	list-style-type: none;
	max-width: 52em;
	height: 36px;
	margin: auto;
	display: block;
	padding: 0;
	li {
		height: 100%;
		vertical-align: middle;
		display: inline-block;
		position: relative;
		button {
			margin-top: 5px;
		}
	}
	li:last-child {
		margin-right: 1em;
	}
	a {
		height: 100%;
		display: block;
		padding: 5px 20px;
		text-decoration: none;
		color: #daf6f5;
		text-transform: uppercase;
		text-shadow: 1px 1px 0px #0c1d1c;
		line-height: 1.6em;
	}
}

.pure-menu li a:hover {
	background: #333;
}

.top-header {
	.iconal {
		position: relative;
		height:24px;
		width:30px;
		display:block;
		text-align: center;
		padding: 5px 5px;
		&:hover {
			background:transparent;
		}
	}
	i {
		text-align: center;
		font-size:150%;
		width:30px;
	}
	a:hover {
		> i {
			font-size:200%;
			line-height:75%;
		}
		> i.icon-github-sign {
			color:pink;
		}
		> i.icon-google-plus-sign {
			color:#d34836;
		}
		> i.icon-twitter-sign {
			color:#9AE4E8;
		}
		> i.icon-linkedin-sign {
			color:#4875B4;
		}
	}
}

.splashy {
	margin:1em 0 0 0;
}

.readable-section {
	@extend .clear;
	padding: 1em;
	margin-top:2em;
	padding-top:45px;
	position:relative;
	width:52em;
	max-width:100%;
	margin:auto;
	letter-spacing:normal;
	line-height:normal;
	img { max-width: 100%; }
	p {
		line-height:1.75em;
		margin:1.25em 0;
	}
	.images {
		padding:1em;
	}
	ul, ol {
		@include box-sizing(border-box);
		padding:0 0 0 3em;
		line-height:1.75em;
	}
}

.firefox-webapp, .firefox-btn {
	display: inline-block;
}
.firefox-webapp {
	display:none;
}
.android-apk {
	display: none;
}

a.firefox-btn, button.firefox-btn {
	display: inline-block;
	background-color: #1793E5;
	background-image: linear-gradient(#4CB1FF, #1793E5);
	background-repeat: repeat-x;
	border-bottom-color: #1793E5;
	border-radius: 3px;
	border-bottom-width: 1px solid #1793E5;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: #1793E5;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #1793E5;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #1793E5;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: solid;
	border-top-width: 1px;
	bottom: 15px;
	color: #FFF;
	cursor: pointer;
	font-family: FeuraSansWeb,"Open Sans","Helvetica Neue",Arial,sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	margin: 0;
	padding: 0.25em 0.75em;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	width: auto;
	&:hover {
		background-color: #1584CE;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2BA3FF), to(#1584CE));
		background-image: -webkit-linear-gradient(#2BA3FF, #1584CE);
		background-image: -moz-linear-gradient(#2BA3FF, #1584CE);
		background-image: -o-linear-gradient(#2BA3FF, #1584CE);
		background-image: linear-gradient(#2BA3FF, #1584CE);
	}
}

.echoplexus-frame {
	width:100%;
	height:400px;
}

small.accent {
	font-size: 25%;
	color: #999;
	position: absolute;
	bottom: 0.9em;
}
.pure-g-r {
	letter-spacing: -.31em;
	* {
		letter-spacing: normal;
	}
}
.pure-u-1-2 {
	max-width: 50%;
	display: inline-block;
	zoom: 1;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}
.pure-u-1-3 {
	max-width: 33%;
	display: inline-block;
	zoom: 1;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}
.lowres {
	display: none !important;
}

@media (max-width: 720px) {
	small.accent {
		position: relative;
		display: block;
	}
	.lowres {
		display: block !important;
	}
	.highres {
		display: none !important;
	}
	.top-nav {
		height: auto;
		li {
			display: block;
			background: #222;
			width: 100% !important;
			text-align: center;
			margin: 0 !important;
			border-bottom: 1px solid #333;
		}
		a {
			width: 100% !important;
			height: 100% !important;
			padding: 1em !important;
		}
	}
	img.pull-right, img.pull-left {
		max-width: 100%;
		float: none;
		margin: 0;
		padding: 0;
	}
	.pure-u-1-2 {
		max-width: 100%;
	}
	.pure-u-1-3 {
		max-width: 100%;
	}
}
